@model Sport.Client.ViewModels.SportIndexViewModel

<div class="bottomMarginDefault">
</div>

<div class="container">
    <div class="row">
        <table class="table" style="margin-top:100px; margin-right:40px;">
            <tr>
                <th>Užsiėmimas</th>
                <th>Užsiėmimo pradžia</th>
                <th>Užsiėmimo pabaiga</th>
                <th>Liko vietų</th>
                <th>Veiksmai</th>
            </tr>
            @foreach (var item in Model.Activities)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Beginning</td>
                    <td>@item.Ending</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
</div>
