@model Sport.Client.ViewModels.SportIndexViewModel
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="bottomMarginDefault">
</div>
<div class="wow fadeInDown">
    <div class="container" style="margin-top:100px; margin-right:40px;">
        <h3>List of all gym activities</h3>
        <div class="row">
            <table class="table">
                <tr>
                    <th>Activity</th>
                    <th>Beginning</th>
                    <th>Ending</th>
                    @if (User.IsInRole("Client"))
                    {
                        <th></th>
                    }
                </tr>
                @foreach (var item in Model.Activities)
            {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Beginning.ToString("yyyy/MM/dd HH:mm")</td>
                        <td>@item.Ending.ToString("yyyy/MM/dd HH:mm")</td>
                    @if (User.IsInRole("Client"))
                    {
                        <td><a asp-action="AddClientActivity" asp-controller="Activity" asp-route-id="@item.Id">Register</a></td>
                    }
                </tr>
                }
            </table>
        </div>
    </div>
</div>