@model Sport.Client.ViewModels.SportIndexViewModel

<div class="bottomMarginDefault">
</div>

<div class="container">
    <div class="row">
        <table class="table" style="margin-top:100px; margin-right:40px;">
            <tr>
                <th>Activity</th>
                <th>Beginning</th>
                <th>Ending</th>
                @if (User.IsInRole("Client"))
                {
                    <th></th>
                }
            </tr>
            @foreach (var item in Model.Activities)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Beginning</td>
                    <td>@item.Ending</td>
                    @if (User.IsInRole("Client"))
                    {
                        <td><a asp-action="AddClientActivity" asp-controller="Activity" asp-route-id="@item.Id">Register</a></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
