@using Sport.Model

@model ActivityForCreationAndUpdate
<div class="container">
    <form asp-action="AddActivity" style="margin-top:100px;">
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-2">
                <div>Name of activity</div>
            </div>
            <div class="col-md-2" style="min-width: 250px;">
                <input class="form-control" asp-for="Name" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-2">
                <div>Beginning</div>
            </div>
            <div class="col-md-2" style="min-width: 250px;">
                <input class="form-control" type="datetime-local" asp-for="Beginning" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-2">
                <div>Ending</div>
            </div>
            <div class="col-md-2" style="min-width: 250px;">
                <input class="form-control" type="datetime-local" asp-for="Ending" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>
